<nav class="navbar navbar-dark bg-primary navbar-expand-lg navStyle" >
  <a class="navbar-brand" href="#">Esante</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>


<br><br>

<body align='center'>

 <div align='center'>  <h1 class=" textcolor">Votre Santé est notre Priorité</h1> </div>

<div class="Mystyle" align='center'>

  
    <table  width="100%" cellspacing="30px" style="border-spacing: 30px;">
    <tr>
<td>
        <div class="col-sm-9">
      <div class="card paragraphe">
        <div class="card-body">
          <h4 class="card-title">Administrateur</h4>
          <p class="card-text">Si ous êtes un Administrateur ou vous diposez d'un compte d'administrateur vous pouvez cliquer ci dessous pour aller vers la page d'administration.</p>
          <a  routerLink='loginAdmin' class="btn btn-danger">Aller à Admin</a>
        </div>
      </div>
    </div>
</td>

<td>   
    <div class="col-sm-9">
      <div class="card paragraphe">
        <div class="card-body">
          <h4 class="card-title">Personnels Santé</h4>
          <p class="card-text">Si ous êtes un Personnel de sante ou vous diposez d'un compte de personnel de santé vous pouvez cliquer ci dessous pour aller vers la page des personnels de santé  .</p>
          <a routerLink='loginMedecin'  class="btn btn-danger" >Aller à Medecin</a>
        </div>
      </div>
    </div>
</td> 

<td>
    <div class="col-sm-9 ">
        <div class="card paragraphe ">
          <div class="card-body">
            <h4 class="card-title">Malades</h4>
            <p class="card-text">Si ous êtes un Malade ou vous diposez d'un compte de malade vous pouvez cliquer ci dessous pour aller vers la page des malades .</p>
            <a routerLink='loginMalade' class="btn btn-danger" >Aller à Malade</a>
          </div>
        </div>
      </div>
</td>      
    </tr>
</table>
  </div>

</body>

  <footer class="page-footer font-small blue stylefooter ">
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a class="textfooter" href="https://mdbootstrap.com/"> Université Abou baker belkaid</a>
    </div>
    <!-- Copyright -->
  
  </footer>
